[data-theme='dark'] {
    --colors-text: hsl(0, 0%, 100%);
    --colors-bg: hsl(207, 26%, 17%);

    --colors-text-inverted: hsl(207, 26%, 17%);
    --colors-bg-inverted: hsl(0, 0%, 100%);

    --colors-ui-base: hsl(209, 23%, 22%);

    --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}